# Configuration file

Item {

    Drill {
        # Adjust this value to change the amount of Energy (in RF) stored by a Basic Fluxbore. This base value will scale with item level. [range: 8000 ~ 200000, default: 40000]
        I:BaseCapacity=40000

        # Adjust this value to change the amount of Energy (in RF/t) that can be received by a Basic Fluxbore. This base value will scale with item level. [range: 100 ~ 10000, default: 1000]
        I:BaseReceive=1000
        B:Enable=true
    }

    Saw {
        # Adjust this value to change the amount of Energy (in RF) stored by a Basic Fluxsaw. This base value will scale with item level. [range: 8000 ~ 200000, default: 40000]
        I:BaseCapacity=40000

        # Adjust this value to change the amount of Energy (in RF/t) that can be received by a Basic Fluxsaw. This base value will scale with item level. [range: 100 ~ 10000, default: 1000]
        I:BaseReceive=1000
        B:Enable=true
    }

    Magnet {
        # Adjust this value to change the amount of Energy (in RF) stored by a Basic Fluxomagnet. This base value will scale with item level. [range: 8000 ~ 200000, default: 40000]
        I:BaseCapacity=40000

        # Adjust this value to change the amount of Energy (in RF/t) that can be received by a Basic Fluxomagnet. This base value will scale with item level. [range: 100 ~ 10000, default: 1000]
        I:BaseReceive=1000
        B:Enable=true
    }

    Injector {
        # Adjust this value to change the amount of Fluid (in mb) stored by a Basic Hypoinfuser. This base value will scale with item level. [range: 400 ~ 10000, default: 2000]
        I:BaseCapacity=2000
    }

}


Version {
    S:Identifier=0.1.0
}


