# Configuration file

capacitor {
    # enderio.config.capacitor.power_monitor_power_buffer [range: -2147483648 ~ 2147483647, default: 1000]
    I:power_monitor_power_buffer=1000

    # Scaler for power_monitor_power_buffer [default: FIXED_1]
    S:power_monitor_power_buffer.scaler=FIXED_1

    # enderio.config.capacitor.power_monitor_power_intake [range: -2147483648 ~ 2147483647, default: 10]
    I:power_monitor_power_intake=10

    # Scaler for power_monitor_power_intake [default: FIXED_1]
    S:power_monitor_power_intake.scaler=FIXED_1

    # enderio.config.capacitor.power_monitor_power_use [range: -2147483648 ~ 2147483647, default: 5]
    I:power_monitor_power_use=5

    # Scaler for power_monitor_power_use [default: FIXED_1]
    S:power_monitor_power_use.scaler=FIXED_1
}


capbank {
    # The maximum IO per tick for a single tier one capacitor bank. (synced from server) [range: 1 ~ 1000000000, default: 1000]
    I:tier1_maxIO=1000

    # The maximum storage for a single tier one capacitor bank. (synced from server) [range: 1 ~ 2000000000, default: 1000000]
    I:tier1_maxStorage=1000000

    # The maximum IO per tick for a single tier two capacitor bank. (synced from server) [range: 1 ~ 1000000000, default: 5000]
    I:tier2_maxIO=5000

    # The maximum storage for a single tier two capacitor bank. (synced from server) [range: 1 ~ 2000000000, default: 5000000]
    I:tier2_maxStorage=5000000

    # The maximum IO per tick for a single tier three capacitor bank. (synced from server) [range: 1 ~ 1000000000, default: 25000]
    I:tier3_maxIO=25000

    # The maximum storage for a single tier three capacitor bank. (synced from server) [range: 1 ~ 2000000000, default: 25000000]
    I:tier3_maxStorage=25000000

    # The maximum IO per tick for a creative capacitor bank. (synced from server) [range: 1 ~ 1000000000, default: 50000]
    I:tierC_maxIO=50000

    # The maximum storage for a creative capacitor bank. (synced from server) [range: 1 ~ 2000000000, default: 100000000]
    I:tierC_maxStorage=100000000
}


personal {
    # When true, the capacitor bank item will get a power bar in addition to the gauge on the bank. [default: false]
    B:capacitorBankRenderPowerOverlayOnItem=false
}


