# no private server information or api keys
overrides/config/shadowfacts/DiscordChat/DiscordChat.conf
overrides/config/Chikachi/discordintegration.json

# no mod binaries, beside overrides mods
*.jar
overrides/mods/*.jar
!overrides/mods/Flamingo-1\.12-v1\.11\.jar
!overrides/mods/Nutrition-1\.12\.2-4\.0\.0\.jar
!overrides/mods/Computronics-1\.12\.1-1\.6\.5\.jar
overrides/mods/memory_repo/

# Client side or "default" configs not needed
overrides/config/AppliedEnergistics2/aerecipes
overrides/config/biomesoplenty/biomes/defaults
overrides/config/tellme
overrides/config/wizardry
overrides/config/multimob/modInformation
overrides/config/NetherEx/Biomes
overrides/config/jei/worldSettings\.cfg
overrides/config/betterfps\.json
overrides/config/LLOverlayReloaded\.cfg
overrides/config/InvTweaks\.cfg
overrides/config/MoreOverlays\.cfg
overrides/config/MouseTweaks\.cfg
overrides/config/teamreborn/configData\.nbt
overrides/config/AppliedEnergistics2/items\.csv
overrides/config/randomtweaks/data\.json
overrides/config/thaumicjei_itemstack_aspects\.json
overrides/config/brandon3055/contributors\.json
overrides/config/astralsorcery/amulet_enchantments\.cfg
overrides/config/InvTweaks/InvTweaksTree\.txt\.bak

overrides/config/enderio/recipes/
!overrides/config/enderio/recipes/user
overrides/config/enderio/recipes/user/
!overrides/config/enderio/recipes/user/user_recipes\.xml