# Auto detect text files and perform LF normalization
* text eol=crlf

# Make ZenScript files format like Java
*.zs linguist-language=Java

# Binary files not to mess with
*.png binary
*.jpg binary
*.jar binary
*.zip binary
*.gif binary
*.ogg binary
