# Auto detect text files and perform LF normalization
* text eol=crlf

# Binary files not to mess with
*.png binary
*.data binary
*.jpg binary
*.jar binary
*.zip binary
*.gif binary
*.ogg binary
*.ttf binary
*.schematic binary
