overrides/config/shadowfacts/DiscordChat/DiscordChat.conf
overrides/config/Chikachi/discordintegration.json
*.jar

overrides/config/teamreborn/configData\.nbt

overrides/config/AppliedEnergistics2/aerecipes/items\.csv

overrides/config/AppliedEnergistics2/items\.csv

overrides/config/randomtweaks/data\.json

overrides/config/thaumicjei_itemstack_aspects\.json

overrides/config/jei/worldSettings\.cfg

overrides/config/brandon3055/contributors\.json
