# Configuration file

general {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client-sided (excluding Ding and the time of day overlay)
    ##########################################################################################################

    client {
        # Enables the Clear Chat keybind.
        B:clearChatKeybind=true

        # Removes underwater fog.
        B:clearWater=true

        # Enables Contributor Capes.
        B:contributorCapes=true

        # Disables the Ender Dragon death sound.
        B:disableEnderDragonDeathSound=false

        # Stops potion effects from moving GUIs to the right.
        B:disablePotionShift=true

        # Disables the Wither spawn sound.
        B:disableWitherSpawnSound=false

        # Moves the Bucket to the Tools creative tab.
        B:moveBucketCreativeTab=true

        # Enables the Noclip keybind, which toggles between /gamemode c and /gamemode sp.
        B:noclipKeybind=true

        # Enables the Reload Sound System keybind.
        B:reloadSoundSystemKeybind=true

        # Moves the spawn eggs to their own creative tab.
        B:spawnEggsCreativeTab=true
    }

    ##########################################################################################################
    # commands
    #--------------------------------------------------------------------------------------------------------#
    # Commands
    ##########################################################################################################

    commands {
        # Enables the /deletegamerule command.
        B:deletegamerule=true

        # Allows /give to accept integer IDs and amounts higher than 64.
        B:giveTweaks=true

        # Changes the /help command to make sure that sorting commands doesn't cause an error.
        B:helpTweaks=true

        # Enables the /hunger command, which sets a player's hunger level.
        B:hunger=true

        # Enables the /rtreload command, which reloads this configuration.
        B:rtreload=true

        # Enables the /rtreloadclient command, which is the client-sided version of /rtreload.
        B:rtreloadclient=true
    }

    ##########################################################################################################
    # ding
    #--------------------------------------------------------------------------------------------------------#
    # Ding
    ##########################################################################################################

    ding {
        # Disables this feature if iChun's Ding is installed.
        B:disableIfDingIsInstalled=true

        # The name of the sound to play when Minecraft starts. Leave this empty to disable it.
        S:soundName=entity.experience_orb.pickup

        # The pitch of the sound to play when Minecraft starts.
        # Min: 0.0
        # Max: 10.0
        D:soundPitch=1.0

        # The name of the sound to play when a world loads.Leave this empty to disable it.
        S:worldSoundName=entity.experience_orb.pickup

        # The pitch of the sound to play when a world starts.
        # Min: 0.0
        # Max: 10.0
        D:worldSoundPitch=1.0
    }

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General
    ##########################################################################################################

    general {
        # Sets the base attack speed for players. Set this to 16.0 or higher to remove the attack cooldown. 4.0 is the default value.
        # Min: 0.0
        # Max: 1024.0
        D:attackSpeed=4.0

        # Enables more Roman numerals (Roman numerals from -32768 to 32767).
        B:moreRomanNumerals=true

        # Ocelots can be healed with fish.
        B:ocelotsCanBeHealed=true

        # Prevents pets from being attacked by their owner's other pets.
        B:protectPetsFromOtherPets=true

        # Prevents pets from being attacked by their owners (unless they're sneaking).
        B:protectPetsFromOwners=true

        # Players can sleep around non-aggressive zombie pigmen (this is a default feature in 1.12) and mobs with custom names. On 1.10, adds the "bed is too far away" message present in later versions of Minecraft.
        B:sleepTweaks=true
    }

    ##########################################################################################################
    # world
    #--------------------------------------------------------------------------------------------------------#
    # World
    ##########################################################################################################

    world {
        # Disables the Realistic world type if Quark is detected.
        B:disableRealisticWorldTypeWithQuark=true

        # Enables the Realistic world type. Name: realistic
        B:realisticWorldType=true

        # The rarity of non-empty chunks in a Void Islands world. If n, there is a 1 in n chance of a chunk being non-empty.
        # Min: 2
        # Max: 2147483647
        I:voidIslandsChunkRarity=10

        # The biome of the void chunks of a Void Islands world. Leave this empty to randomize the biomes.
        S:voidIslandsWorldBiome=minecraft:plains

        # Enables the Void Islands world type. Name: voidislands
        B:voidIslandsWorldType=true

        # The biome of a Void world. Leave this empty to randomize the biomes.
        S:voidWorldBiome=minecraft:plains

        # The block placed in a Void world for players to stand on.
        S:voidWorldBlock=minecraft:glass

        # Enables the Void world type. Name: void
        B:voidWorldType=true

        # The Y coordinate of the default spawn point in a Void world.
        # Min: 1
        # Max: 255
        I:voidWorldYSpawn=17
    }

    ##########################################################################################################
    # respawn
    #--------------------------------------------------------------------------------------------------------#
    # Respawn behavior
    ##########################################################################################################

    respawn {
        # Enables punishments on death if keepInventory is enabled so it's not too overpowered. All XP and 3 hunger points are removed. This overrides hungerBehavior if keepInventory is true.
        B:deathPunishmentsIfKeepInventory=false

        # What happens to a player's hunger when they respawn.
        # Valid values:
        # RESET
        # DONT_RESET
        # RESET_UNLESS_KEEPINVENTORY
        S:hungerBehavior=RESET_UNLESS_KEEPINVENTORY

        # The minimum hunger level on respawn.
        # Min: 0
        # Max: 2147483647
        I:minimumHungerLevel=3
    }

    ##########################################################################################################
    # squids
    #--------------------------------------------------------------------------------------------------------#
    # Squid spawning
    ##########################################################################################################

    squids {
        # The amount of squids allowed in one chunk. 0 disables squid spawning, and -1 disables this limit.
        # Min: -1
        # Max: 2147483647
        I:chunkLimit=12

        # The maximum number of squids that can be spawned in a pack. Set to 0 to use vanilla behavior.
        # Min: 0
        # Max: 2147483647
        I:maxPackSize=2

        # Disables squid spawning when a player is not within the specified radius. Set to 0 to disable this limit.
        # Min: 0
        # Max: 2147483647
        I:spawnRadiusLimit=64
    }

    ##########################################################################################################
    # timeofday
    #--------------------------------------------------------------------------------------------------------#
    # Time of day overlay
    ##########################################################################################################

    timeofday {
        # The alignment of the time of day overlay.
        # Valid values:
        # TOPLEFT
        # TOPCENTER
        # TOPRIGHT
        # MIDDLELEFT
        # MIDDLECENTER
        # MIDDLERIGHT
        # BOTTOMLEFT
        # BOTTOMCENTER
        # BOTTOMRIGHT
        S:alignment=TOPLEFT

        # Disables the time of day overlay if doDaylightCycle is false.
        B:disableIfNoDaylightCycle=true

        # Disables the time of day overlay in Adventure Mode.
        B:disableInAdventureMode=true

        # Enables the time of day overlay keybind.
        B:enableKeybind=true

        # Enables the time of day overlay.
        B:enabled=true

        # Enables the time of day overlay by default.
        B:enabledByDefault=false

        # Enables 24-hour time.
        B:twentyFourHourTime=false

        # The X offset of the time of day overlay.
        I:x=0

        # The Y offset of the time of day overlay.
        I:y=0
    }

}


