# Configuration file

##########################################################################################################
# animals
#--------------------------------------------------------------------------------------------------------#
# Options related to animals (including villagers).
##########################################################################################################

animals {
    # Whether colored sheep should spawn.
    # Default: true
    B:coloredSheep=true

    # Whether villagers should be leashable.
    # Default: true
    B:leashableVillagers=true

    # Tamed Ocelots can be healed with fish.
    # Default: true
    B:ocelotsCanBeHealed=true

    # Tamed Parrots can be healed with seeds.
    # Default: true
    B:parrotsCanBeHealed=true

    # Prevents pets from being attacked by their owner's other pets.
    # Default: true
    B:protectPetsFromOtherPets=true

    # Prevents pets from being attacked by their owners (unless they're sneaking).
    # Default: true
    B:protectPetsFromOwners=true

    ##########################################################################################################
    # randomizedages
    #--------------------------------------------------------------------------------------------------------#
    # Options related to randomized animal ages.
    ##########################################################################################################

    randomizedages {
        # The chance that an animal's age is randomized.
        # Min: 0.0
        # Max: 1.0
        # Default: 0.1
        D:chance=0.1

        # The maximum age in ticks.
        # Default: -6000
        I:maximumAge=-6000

        # The minimum age in ticks.
        # Default: -24000
        I:minimumAge=-24000
    }

    ##########################################################################################################
    # squids
    #--------------------------------------------------------------------------------------------------------#
    # Options related to squid spawning behavior.
    ##########################################################################################################

    squids {
        # The amount of squids allowed in one chunk. Set this to 0 to disable squid spawning, and set this to -1 to disable this limit.
        # Min: -1
        # Max: 2147483647
        # Default: 12
        I:chunkLimit=12

        # The maximum number of squids that can be spawned in a pack. Set to 0 to use vanilla behavior.
        # Min: 0
        # Max: 2147483647
        # Default: 2
        I:maxPackSize=2

        # Disables squid spawning when a player is not within the specified radius. Set this to 0 to disable this limit.
        # Min: 0
        # Max: 2147483647
        # Default: 64
        I:spawnRadiusLimit=64
    }

}


##########################################################################################################
# bonemeal
#--------------------------------------------------------------------------------------------------------#
# Options related to bone meal.
##########################################################################################################

bonemeal {
    # The amount of stages Bone Meal should cause Cacti to grow. 16 is a full block.
    # Min: 0
    # Max: 16
    # Default: 8
    I:cacti=8

    # Whether Bone Meal should grow Nether Warts.
    # Default: true
    B:netherWarts=true

    # The amount of stages Bone Meal should cause Sugar Canes to grow. 16 is a full block.
    # Min: 0
    # Max: 16
    # Default: 8
    I:sugarCanes=8
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Options related to features that only work client-side.
##########################################################################################################

client {
    # Removes underwater fog.
    # Default: true
    B:clearWater=true

    # Enables contributor capes.
    # Default: true
    B:contributorCapes=true

    # Disables the Ender Dragon death sound.
    # Default: false
    B:disableEnderDragonDeathSound=false

    # Whether to disable the potion icons at the top right.
    # Default: false
    B:disablePotionIcons=false

    # Stops potion effects from moving GUIs to the right.
    # Default: true
    B:disablePotionShift=true

    # Disables the Wither spawn sound.
    # Default: false
    B:disableWitherSpawnSound=false

    # Moves the Bucket to the Tools creative tab.
    # Default: true
    B:moveBucketCreativeTab=true

    # Moves spawn eggs to their own creative tab.
    # Default: true
    B:spawnEggsCreativeTab=true

    # Whether to enable stepup.
    # Default: false
    B:stepup=false

    # Whether stepup is enabled by default.
    # Default: false
    B:stepupEnabledByDefault=false

    ##########################################################################################################
    # autothirdperson
    #--------------------------------------------------------------------------------------------------------#
    # Options related to the auto-third person feature.
    ##########################################################################################################

    autothirdperson {
        # Whether auto-third person is enabled when riding a boat.
        # Default: false
        B:boat=false

        # Whether auto-third person is enabled when flying with elytra.
        # Default: true
        B:elytra=true

        # Whether auto-third person is enabled.
        # Default: true
        B:enabled=true

        # Whether auto-third person is enabled when riding a horse.
        # Default: false
        B:horse=false

        # Whether auto-third person is enabled when riding a minecart.
        # Default: false
        B:minecart=false

        # Whether auto-third person is enabled when riding a pig.
        # Default: false
        B:pig=false
    }

    ##########################################################################################################
    # ding
    #--------------------------------------------------------------------------------------------------------#
    # Options related to the 'ding' feature.
    ##########################################################################################################

    ding {
        # The names of the sounds to play when Minecraft starts. Leave this empty to disable it.
        # Default: [entity.experience_orb.pickup]
        S:soundNames <
            entity.experience_orb.pickup
         >

        # The pitch of the sound to play when Minecraft starts.
        # Min: 0.0
        # Max: 10.0
        # Default: 1.0
        D:soundPitch=1.0

        # The name of the sound to play when a world loads.Leave this empty to disable it.
        # Default: [entity.experience_orb.pickup]
        S:worldSoundNames <
            entity.experience_orb.pickup
         >

        # The pitch of the sound to play when a world starts.
        # Min: 0.0
        # Max: 10.0
        # Default: 1.0
        D:worldSoundPitch=1.0
    }

    ##########################################################################################################
    # keybinds
    #--------------------------------------------------------------------------------------------------------#
    # Options related to keybinds.
    ##########################################################################################################

    keybinds {
        # Whether FoV changes are enabled by default.
        # Default: true
        B:fovChangesEnabledByDefault=false

        # Whether a status message should be displayed when FoV changes are toggled.
        # Default: true
        B:fovChangesStatusMessage=true

        # Enables the Noclip keybind, which toggles between /gamemode c and /gamemode sp.
        # Default: true
        B:noclip=true

        # Enables the Reload Sound System keybind.
        # Default: true
        B:reloadSoundSystem=true

        # Enables the Toggle FoV Changes keybind.
        # Default: true
        B:toggleFoVChanges=false

        # Enables the Toggle Time of Day Overlay keybind.
        # Default: true
        B:toggleTimeOfDayOverlay=false
    }

    ##########################################################################################################
    # timeofday
    #--------------------------------------------------------------------------------------------------------#
    # Options related to the time of day overlay.
    ##########################################################################################################

    timeofday {
        # The alignment.
        # Valid values:
        # TOPLEFT
        # TOPCENTER
        # TOPRIGHT
        # MIDDLELEFT
        # MIDDLECENTER
        # MIDDLERIGHT
        # BOTTOMLEFT
        # BOTTOMCENTER
        # BOTTOMRIGHT
        # Default: TOPLEFT
        S:alignment=TOPLEFT

        # Disables the overlay if doDaylightCycle is false.
        # Default: true
        B:disableIfNoDaylightCycle=true

        # Disables the overlay in Adventure Mode.
        # Default: true
        B:disableInAdventureMode=true

        # Disables the overlay in GUIs.
        # Default: true
        B:disableInGUIs=true

        # Enables the overlay.
        # Default: true
        B:enabled=true

        # Enables the overlay by default.
        # Default: false
        B:enabledByDefault=false

        # Enables 24-hour time.
        # Default: false
        B:twentyFourHourTime=false

        # The X offset.
        # Default: 0
        I:x=0

        # The Y offset.
        # Default: 0
        I:y=0
    }

}


##########################################################################################################
# commands
#--------------------------------------------------------------------------------------------------------#
# Options related to commands.
##########################################################################################################

commands {
    # Enables the /deletegamerule command.
    # Default: true
    B:deletegamerule=true

    # Enables the client-sided /disconnect command, which leaves the current world.
    # Default: true
    B:disconnect=true

    # Allows /give to accept integer IDs, amounts higher than 64 and ore dictionary names prefixed by "ore:".
    # Default: true
    B:giveTweaks=true

    # Changes the /help command to make sure that sorting commands doesn't cause an error.
    # Default: true
    B:helpTweaks=true

    # Enables the /hunger command, which sets a player's hunger level.
    # Default: true
    B:hunger=true

    # Enables the /rtreload command.
    # Default: true
    B:rtreload=true

    # Enables the client-sided /rtreloadclient command.
    # Default: true
    B:rtreloadclient=true
}


##########################################################################################################
# hunger
#--------------------------------------------------------------------------------------------------------#
# Options related to hunger behavior.
##########################################################################################################

hunger {
    # If this is enabled, any excess hunger level gained by eating will be added to the saturation.
    # Default: false
    B:carryExcessHungerToSaturation=false

    # Halves exhaustion values.
    # Default: false
    B:halveExhaustion=false

    # The maximum hunger level.
    # Min: 1
    # Max: 2147483647
    # Default: 20
    I:maximumHungerLevel=20

    # The minimum hunger level on respawn.
    # Min: 0
    # Max: 2147483647
    # Default: 3
    I:minimumRespawnHungerLevel=3

    # What happens to a player's hunger when they respawn. This has no effect in creative mode.
    # Valid values:
    # RESET
    # DONT_RESET
    # RESET_UNLESS_KEEP_INVENTORY
    # Default: RESET_UNLESS_KEEP_INVENTORY
    S:respawnResetBehavior=RESET_UNLESS_KEEP_INVENTORY

    # This value is added to the player's food level to calculate the maximum saturation level.
    # Min: 0.0
    # Max: 1.7976931348623157E308
    # Default: 0.0
    D:saturationLimit=0.0
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Options that don't fit into any other categories.
##########################################################################################################

misc {
    # Sets the base attack speed for players. Set this to 16.0 or higher to remove the attack cooldown. 4.0 is the default value.
    # Min: 0.0
    # Max: 1024.0
    # Default: 4.0
    D:attackSpeed=4.0

    # Sets when death punishments are enabled in which all XP and 3 hunger points are removed. This is always disabled in creative mode and overrides hunger.respawnResetBehavior.
    # Valid values:
    # ENABLED
    # ENABLED_IF_KEEP_INVENTORY
    # DISABLED
    # Default: ENABLED_IF_KEEP_INVENTORY
    S:deathPunishmentMode=ENABLED_IF_KEEP_INVENTORY

    # Disables the cumulative anvil cost.
    # Default: true
    B:disableCumulativeAnvilCost=true

    # The name of the gamerule that disables Nether portal creation. Set this to an empty string to disable the gamerule.
    # Default: disableNetherPortalCreation
    S:disableNetherPortalCreationGameruleName=disableNetherPortalCreation

    # The farmland trample behavior.
    # Valid values:
    # VANILLA
    # DONT_TRAMPLE_IF_FEATHER_FALLING
    # DONT_TRAMPLE
    # Default: DONT_TRAMPLE_IF_FEATHER_FALLING
    S:farmlandTrampleBehavior=DONT_TRAMPLE_IF_FEATHER_FALLING

    # Enables Roman numerals from -32768 to 32767.
    # Default: true
    B:moreRomanNumerals=true

    # Allows skeleton arrows to be picked up.
    # Default: false
    B:pickUpSkeletonArrows=false

    # Disables mob spawning on non-full cubes.
    # Default: false
    B:requireFullCubeForSpawns=false

    # Allows players to sleep near mobs with custom names.
    # Default: true
    B:sleepTweaks=true
}


##########################################################################################################
# playerheaddrops
#--------------------------------------------------------------------------------------------------------#
# Options related to player head drops.
##########################################################################################################

playerheaddrops {
    # The player head drop chance when a player is killed by a charged creeper.
    # Min: 0.0
    # Max: 1.0
    # Default: 1.0
    D:chanceWhenKilledByChargedCreeper=1.0

    # The player head drop chance when a player is killed by another player.
    # Min: 0.0
    # Max: 1.0
    # Default: 1.0
    D:chanceWhenKilledByPlayer=1.0

    # Whether players should drop their heads when they die.
    # Default: true
    B:enabled=true

    # The normal player head drop chance.
    # Min: 0.0
    # Max: 1.0
    # Default: 1.0
    D:normalChance=1.0
}


##########################################################################################################
# world
#--------------------------------------------------------------------------------------------------------#
# Options related to world generation.
##########################################################################################################

world {
    # Enables the Realistic world type. Name: REALISTIC
    # Default: true
    B:realisticWorldType=true

    # The rarity of non-empty chunks in a Void Islands world. If n, there is a 1 in n chance of a chunk being non-empty.
    # Min: 2
    # Max: 2147483647
    # Default: 10
    I:voidIslandsChunkRarity=10

    # The biome of the void chunks of a Void Islands world. Leave this empty to randomize the biomes.
    # Default: minecraft:plains
    S:voidIslandsWorldBiome=minecraft:plains

    # Enables the Void Islands world type. Name: VOIDISLANDS
    # Default: true
    B:voidIslandsWorldType=true

    # The biome of a Void world. Leave this empty to randomize the biomes.
    # Default: minecraft:plains
    S:voidWorldBiome=minecraft:plains

    # The block placed in a Void world for players to stand on.
    # Default: minecraft:glass
    S:voidWorldBlock=minecraft:glass

    # Enables the Void world type. Name: VOID
    # Default: true
    B:voidWorldType=true

    # The Y coordinate of the default spawn point in a Void world.
    # Min: 1
    # Max: 255
    # Default: 17
    I:voidWorldYSpawn=17

    ##########################################################################################################
    # oceanfloor
    #--------------------------------------------------------------------------------------------------------#
    # Options related to ocean floor generation.
    ##########################################################################################################

    oceanfloor {
        # The clay spawn chance.
        # Min: 0
        # Max: 2147483647
        # Default: 65
        I:clayChance=65

        # The amount of clay in a vein.
        # Min: 0
        # Max: 2147483647
        # Default: 32
        I:clayVeinSize=32

        # The dirt spawn chance.
        # Min: 0
        # Max: 2147483647
        # Default: 30
        I:dirtChance=30

        # The amount of dirt in a vein.
        # Min: 0
        # Max: 2147483647
        # Default: 18
        I:dirtVeinSize=18

        # Enables the ocean floor worldgen.
        # Default: true
        B:enabled=true

        # The maximum Y coordinate.
        # Min: 0
        # Max: 2147483647
        # Default: 128
        I:maxY=128

        # The minimum Y coordinate.
        # Min: 0
        # Max: 2147483647
        # Default: 20
        I:minY=20

        # The sand spawn chance.
        # Min: 0
        # Max: 2147483647
        # Default: 45
        I:sandChance=45

        # The amount of sand in a vein.
        # Min: 0
        # Max: 2147483647
        # Default: 22
        I:sandVeinSize=22
    }

}


