# Configuration file

buildcraft {
    B:EnableBuildcraftFuels=true
    B:ExpensiveQuarryRecipe=true
}


forestry {
    # Enable distillation tower recipes envolving Forestry fuels [Default=true]
    B:EnableDistillationTowerForestryRecipes=true

    # Allow Forestry fuels to be used in the fuel generators [Default=true]
    B:EnableForestryFuels=true
}


general {
    # Drop red and yellow garnets and peridot from any harvested oreRuby, oreSapphire, oreSphalerite. False will also disable drop from TechReborn ores. [Default=true]
    B:secondaryGemDrops=true
}


immersive_engineering {
    # Enable compressor recipes related to Immersive Engineering content [Default=true]
    B:EnableCompressorImmersiveEngineeringRecipes=true

    # Allow Immersive Engineering fuels to be used in the fuel generators [Default=true]
    B:EnableImmersiveEngineeringFuels=true
}


immersive_petroleum {
    # Enable chemical reactor recipes related to Immersive Petroleum content [Default=true]
    B:EnableChemicalReactorImmersivePetroleumRecipes=true

    # Enable distillation tower recipes related to Immersive Petroleum content [Default=true]
    B:EnableDistillationTowerImmersivePetroleumRecipes=true

    # Allow Immersive Petroleum fuels to be used in the fuel generators [Default=true]
    B:EnableImmersivePetroleumFuels=true
}


industrial_foregoing {
    # Allow Industrial Foregoing fuels to be used in the fuel generators [Default=true]
    B:EnableIndustrialForegoingFuels=true
}


jei {
    # Show Scrapbox loot in JEI [Default=false]
    B:ShowScrabpox=false
}


modules {
    # Should the compat module 'BaublesCompat' be loaded
    B:BaublesCompat=true

    # Should the compat module 'CompatOpenComputers' be loaded
    B:CompatOpenComputers=true

    # Should the compat module 'CraftTweakerCompat' be loaded
    B:CraftTweakerCompat=true

    # Should the compat module 'ForestryCompat' be loaded
    B:ForestryCompat=true

    # Should the compat module 'IC2ModuleExperimental' be loaded
    B:IC2ModuleExperimental=true

    # Should the compat module 'ImmersiveEngineeringCompat' be loaded
    B:ImmersiveEngineeringCompat=true

    # Should the compat module 'ImmersivePetroleumCompat' be loaded
    B:ImmersivePetroleumCompat=true

    # Should the compat module 'IndustrialForegoingCompat' be loaded
    B:IndustrialForegoingCompat=true
    B:MekanismCompat=true
    B:RecipeImmersiveEngineering=true
    B:RecipeThermalExpansion=true

    # Should the compat module 'RefinedStorageCompat' be loaded
    B:RefinedStorageCompat=true

    # Should the compat module 'TheOneProbeCompat' be loaded
    B:TheOneProbeCompat=true

    # Should the compat module 'ThermalExpansionCompat' be loaded
    B:ThermalExpansionCompat=true
}


refinedstorage {
    # Enable assembling machine recipes envolving Refined Storage processors [Default=true]
    B:EnableAssemblingMachineProcessorRecipes=true
}


theoneprobe {
    # Display machine info in The One Probe's HUD [Default=true]
    B:EnableTOPSupport=true
}


thermal_expansion {
    # Disable induction smelter recipes that bypass the use of the blast furnace (i.e. tungsten ingots) [Default=true]
    B:DisableInductionSmelterRecipesBypassingBlastFurnace=true

    # Enable distillation tower recipes related to ThermalExpansion content [Default=true]
    B:EnableDistillationTowerThermalExpansionRecipes=true

    # Allow Thermal Expansion fuels to be used in the fuel generators [Default=true]
    B:EnableThermalExpansionFuels=true
}


