# Configuration file

cloacking_device {
    # Cloacking device energy usesage (Value in EU) [Default=10]
    I:ClockingDeviceEnergyUsage=10
}


power {
    # Energy Capacity for Clocking Device [Default=10000000]
    I:CloakingDeviceCharge=10000000

    # Energy Capacity for Lithium Batpack [Default=4000000]
    I:LithiumBatpackCharge=4000000

    # Energy Capacity for Advanced Chainsaw [Default=1000000]
    I:advancedChainsawCharge=1000000

    # Energy Capacity for Advanced Drill [Default=1000000]
    I:advancedDrillCharge=1000000

    # Energy Capacity for Advanced Jachammer [Default=1000000]
    I:advancedJackhammerCharge=1000000

    # Energy Capacity for Diamond Chainsaw [Default=100000]
    I:diamondChainsawCharge=100000

    # Energy Capacity for Diamond Drill [Default=100000]
    I:diamondDrillCharge=100000

    # Energy Capacity for Diamond Jackhammer [Default=100000]
    I:diamondJackhammerCharge=100000

    # Energy Capacity for Iron Chainsaw [Default=10000]
    I:ironChainsawCharge=10000

    # Energy Capacity for Iron Drill [Default=10000]
    I:ironDrillCharge=10000

    # Energy Capacity for Lapotron Pack [Default=100000000]
    I:lapotronPackCharge=100000000

    # Energy Capacity for Lapotronic Orb [Default=100000000]
    I:lapotronicOrbMaxCharge=100000000

    # Energy Capacity for Omni Tool [Default=20000]
    I:omniToolCharge=20000

    # Energy Capacity for Rock Cutter [Default=10000]
    I:rockCutterCharge=10000

    # Energy Capacity for Steel Jackhammer [Default=10000]
    I:steelJackhammerCharge=10000
}


