# Configuration file

crafting {
    # Enables the new thermal expansion compatible cell recipe [Default=true]
    B:cellRecipe=true
}


ic2 {
    # Changes a lot of recipes and hides blocks to integrate TechReborn into IC2 [Default=false]
    B:deduplicate=true
}


railcraft {
    # When true TechReborn will remove Railcraft's Iron Nugget to steel nugget recipe. [Default=false]
    B:disableRailcraftNugget=true
}


sawmill {
    # Set to true to disable sawmill recipes from loading. [Default=false]
    B:disableRecipes=false

    # Number of planks the saw mill will ouput [Default=4]
    I:plankCount=4
}


