# Configuration file

oil_lakes {
    # Enable the generation of underground oil lakes [Default=true]
    B:enable=true

    # Max height of underground lakes [Default=48]
    I:maxHeight=48

    # The chance to spawn in a chunk, smaller is more common [Default=30]
    I:rareity=30
}


