# Configuration file

client {
    # Set to true to remove all the Json model errors from the log. [default: true]
    B:removeJsonExceptions=true
}


general {
    # Set to true to print debug info to the log. [default: false]
    B:debug=false

    # Set to true to prevent multiblock crashes when Sponge is installed. WARNING: Unsupported, this may cause unexpected behaviour, use with caution! [default: false]
    B:supressSpongeIssues=false
}


