# Configuration file

abyssalnite {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Abyssalnite
    S:extra2=Abyssalnite
    S:extra3=Abyssalnite
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


aluminium {
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Aluminium
    S:extra3=Aluminium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amber {
    D:energyModifier=1.0
    S:extra=Amber
    S:extra2=Amber
    S:extra3=Amber
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amethyst {
    D:energyModifier=1.0
    S:extra=Amethyst
    S:extra2=Amethyst
    S:extra3=Amethyst
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


apatite {
    D:energyModifier=1.0
    S:extra=Apatite
    S:extra2=Apatite
    S:extra3=Apatite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


aqua_middle_gem {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=AquaMiddleGem
    S:extra2=AquaMiddleGem
    S:extra3=AquaMiddleGem
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


aquamarine {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Aquamarine
    S:extra2=Aquamarine
    S:extra3=Aquamarine
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ardite {
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Ardite
    S:extra3=Ardite
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


astral_starmetal {
    D:energyModifier=1.0
    S:extra=AstralStarmetal
    S:extra2=AstralStarmetal
    S:extra3=AstralStarmetal
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


bauxite {
    D:energyModifier=1.0
    S:extra=Bauxite
    S:extra2=Bauxite
    S:extra3=Bauxite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


boron {
    D:energyModifier=1.0
    S:extra=Boron
    S:extra2=Boron
    S:extra3=Boron
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


cinnabar {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Cinnabar
    S:extra2=Cinnabar
    S:extra3=Cinnabar
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


coal {
    D:energyModifier=1.0
    S:extra=Coal
    S:extra2=Coal
    S:extra3=Coal
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


cobalt {
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Cobalt
    S:extra3=Cobalt
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


copper {
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Copper
    S:extra3=Copper
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


coralium {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Coralium
    S:extra2=Coralium
    S:extra3=Coralium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


crimson_middle_gem {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=CrimsonMiddleGem
    S:extra2=CrimsonMiddleGem
    S:extra3=CrimsonMiddleGem
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


diamond {
    D:energyModifier=1.0
    S:extra=Diamond
    S:extra2=Diamond
    S:extra3=Diamond
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


dilithium {
    D:energyModifier=1.0
    S:extra=Dilithium
    S:extra2=Dilithium
    S:extra3=Dilithium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    B:techRebornH2O=true
    B:techRebornNa2S2O8=true
}


dimensional_shard {
    D:energyModifier=1.0
    S:extra=DimensionalShard
    S:extra2=DimensionalShard
    S:extra3=DimensionalShard
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


draconium {
    D:energyModifier=1.0
    S:extra=Draconium
    S:extra2=Draconium
    S:extra3=Draconium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


emerald {
    D:energyModifier=1.0
    S:extra=Emerald
    S:extra2=Emerald
    S:extra3=Emerald
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ender_biotite {
    D:energyModifier=1.0
    S:extra=EnderBiotite
    S:extra2=EnderBiotite
    S:extra3=EnderBiotite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


galena {
    D:energyModifier=1.0
    S:extra=Galena
    S:extra2=Galena
    S:extra3=Galena
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


gold {
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Gold
    S:extra3=Gold
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


green_middle_gem {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=GreenMiddleGem
    S:extra2=GreenMiddleGem
    S:extra3=GreenMiddleGem
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iridium {
    D:energyModifier=1.0
    S:extra=Platinum
    S:extra2=Iridium
    S:extra3=Iridium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iron {
    D:energyModifier=1.0
    S:extra=Nickel
    S:extra2=Iron
    S:extra3=Iron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


jaopca {
    B:dust=true
    B:gem=true
    B:gem_oreless=false
    B:ingot=true
    B:ingot_oreless=false
    S:moduleBlacklist <
     >
    S:oreConflictPrecedence <
     >
    S:orePreference <
     >
    S:oreShouldBeDust <
        Redstone
     >
    S:oreShouldBeGem <
        Coal
        Lapis
        Diamond
        Emerald
        Quartz
     >

    # Set to true to reload color configs.
    B:reloadColorConfigs=false
}


lapis {
    D:energyModifier=1.0
    S:extra=Lapis
    S:extra2=Lapis
    S:extra3=Lapis
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


lead {
    D:energyModifier=1.0
    S:extra=Silver
    S:extra2=Lead
    S:extra3=Lead
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


life_crystal {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=LifeCrystal
    S:extra2=LifeCrystal
    S:extra3=LifeCrystal
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


liquified_coralium {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=LiquifiedCoralium
    S:extra2=LiquifiedCoralium
    S:extra3=LiquifiedCoralium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


lithium {
    D:energyModifier=1.0
    S:extra=Lithium
    S:extra2=Lithium
    S:extra3=Lithium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


magnesium {
    D:energyModifier=1.0
    S:extra=Magnesium
    S:extra2=Magnesium
    S:extra3=Magnesium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


malachite {
    D:energyModifier=1.0
    S:extra=Malachite
    S:extra2=Malachite
    S:extra3=Malachite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


mithril {
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Mithril
    S:extra3=Mithril
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


nickel {
    D:energyModifier=1.0
    S:extra=Platinum
    S:extra2=Nickel
    S:extra3=Nickel
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


octine {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Octine
    S:extra2=Octine
    S:extra3=Octine
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


osmium {
    D:energyModifier=1.0
    S:extra=Osmium
    S:extra2=Osmium
    S:extra3=Osmium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


peridot {
    D:energyModifier=1.0
    S:extra=Peridot
    S:extra2=Peridot
    S:extra3=Peridot
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


platinum {
    D:energyModifier=1.0
    S:extra=Iridium
    S:extra2=Platinum
    S:extra3=Platinum
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


pyrite {
    D:energyModifier=1.0
    S:extra=Pyrite
    S:extra2=Pyrite
    S:extra3=Pyrite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


quartz {
    D:energyModifier=1.0
    S:extra=Quartz
    S:extra2=Quartz
    S:extra3=Quartz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


quartz_black {
    D:energyModifier=1.0
    S:extra=QuartzBlack
    S:extra2=QuartzBlack
    S:extra3=QuartzBlack
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


redstone {
    D:energyModifier=1.0
    S:extra=Redstone
    S:extra2=Redstone
    S:extra3=Redstone
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ruby {
    D:energyModifier=1.0
    S:extra=Ruby
    S:extra2=Ruby
    S:extra3=Ruby
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


saltpeter {
    D:energyModifier=1.0
    S:extra=Saltpeter
    S:extra2=Saltpeter
    S:extra3=Saltpeter
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sapphire {
    D:energyModifier=1.0
    S:extra=Sapphire
    S:extra2=Sapphire
    S:extra3=Sapphire
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


silver {
    D:energyModifier=1.0
    S:extra=Lead
    S:extra2=Silver
    S:extra3=Silver
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sodalite {
    D:energyModifier=1.0
    S:extra=Sodalite
    S:extra2=Sodalite
    S:extra3=Sodalite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sphalerite {
    D:energyModifier=1.0
    S:extra=Sphalerite
    S:extra2=Sphalerite
    S:extra3=Sphalerite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sulfur {
    D:energyModifier=1.0
    S:extra=Sulfur
    S:extra2=Sulfur
    S:extra3=Sulfur
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


syrmorite {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Syrmorite
    S:extra2=Syrmorite
    S:extra3=Syrmorite
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


tanzanite {
    D:energyModifier=1.0
    S:extra=Tanzanite
    S:extra2=Tanzanite
    S:extra3=Tanzanite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


thorium {
    D:energyModifier=1.0
    S:extra=Thorium
    S:extra2=Thorium
    S:extra3=Thorium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


tin {
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Tin
    S:extra3=Tin
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


titanium {
    D:energyModifier=1.0
    S:extra=Titanium
    S:extra2=Titanium
    S:extra3=Titanium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


topaz {
    D:energyModifier=1.0
    S:extra=Topaz
    S:extra2=Topaz
    S:extra3=Topaz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


tungsten {
    D:energyModifier=1.0
    S:extra=Tungsten
    S:extra2=Tungsten
    S:extra3=Tungsten
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


uranium {
    D:energyModifier=1.0
    S:extra=Uranium
    S:extra2=Uranium
    S:extra3=Uranium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


valonite {
    S:enderIOByproductXml=name="oredict:cobblestone" amount="1" chance="0.15"
    D:energyModifier=1.0
    S:extra=Valonite
    S:extra2=Valonite
    S:extra3=Valonite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


yellorium {
    D:energyModifier=1.0
    S:extra=Yellorium
    S:extra2=Yellorium
    S:extra3=Yellorium
    B:hasEffect=false
    S:mekanismBase=minecraft:cobblestone
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
    B:techRebornH2O=true
    B:techRebornHg=true
    B:techRebornNa2S2O8=true
}


