# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:actuallyadditions=false
            B:actuallybaubles=false
            B:additionalbanners=false
            B:advgenerators=false
            B:aiimprovements=false
            B:akashictome=false
            B:applecore=false
            B:appleskin=false
            B:appliedenergistics2=false
            B:aroma1997core=false
            B:aroma1997sdimension=false
            B:astralsorcery=false
            B:atmtweaks=false
            B:autoreglib=false
            B:badwithernocookiereloaded=false
            B:base=false
            B:baubles=false
            B:bdlib=false
            B:bedbugs=false
            B:betterbuilderswands=false
            B:bibliocraft=false
            B:bigreactors=false
            B:binniecore=false
            B:binniedesign=false
            B:biomesoplenty=false
            B:blockdrops=false
            B:blur=false
            B:bookshelf=false
            B:botania=false
            B:botany=false
            B:brandonscore=false
            B:ceramics=false
            B:chameleon=false
            B:chisel=false
            B:chiselsandbits=false
            B:clarity=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:colossalchests=false
            B:commoncapabilities=false
            B:contenttweaker=false
            B:controlling=false
            B:cookingforblockheads=false
            B:cosmeticarmorreworked=false
            B:craftingtweaks=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:ctgui=false
            B:ctm=false
            B:cucumber=false
            B:custombackgrounds=false
            B:custommainmenu=false
            B:cyclicmagic=false
            B:cyclopscore=false
            B:darkutils=false
            B:defaultoptions=false
            B:dldungeonsjdg=false
            B:draconicevolution=false
            B:elevatorid=false
            B:embers=false
            B:enderstorage=false
            B:environmentaltech=false
            B:exchangers=false
            B:extrabees=false
            B:extrarails=false
            B:extratrees=false
            B:extrautils2=false
            B:fairylights=false
            B:fencejumper=false
            B:flatcoloredblocks=false
            B:flyringbaublemod=false
            B:foamfix=false
            B:foamfixcore=false
            B:forestry=false
            B:forge=false
            B:forgelin=false
            B:ftbl=false
            B:ftbu=false
            B:funkylocomotion=false
            B:gendustry=false
            B:genetics=false
            B:gravestone=false
            B:growablecells=false
            B:guideapi=false
            B:harvest=false
            B:harvestcraft=false
            B:ic2=false
            B:immersiveengineering=false
            B:immersivepetroleum=false
            B:industrialforegoing=false
            B:industrialwires=false
            B:integrateddynamics=false
            B:integrateddynamicscompat=false
            B:integratedtunnels=false
            B:integrationforegoing=false
            B:inventorytweaks=false
            B:ironchest=false
            B:jaopca=false
            B:jaopcaadditions=false
            B:jei=false
            B:jeibees=false
            B:jeresources=false
            B:journeymap=false
            B:justenoughdimensions=false
            B:kleeslabs=false
            B:lostcities=false
            B:mantle=false
            B:mb=false
            B:mcmultipart=false
            B:mcp=false
            B:mekanism=false
            B:mekanismgenerators=false
            B:mekanismtools=false
            B:mercurius_updater=false
            B:minecolonies=false
            B:minecraft=false
            B:mobtotems=false
            B:modnametooltip=false
            B:modtweaker=false
            B:moreoverlays=false
            B:morpheus=false
            B:morphtool=false
            B:mousetweaks=false
            B:mtlib=false
            B:mysticalagradditions=false
            B:mysticalagriculture=false
            B:natura=false
            B:neid=false
            B:nmsot=false
            B:notenoughwands=false
            B:oeintegration=false
            B:opencomputers=false
            B:"opencomputers|core"=false
            B:openglider=false
            B:oredictinit=false
            B:oreexcavation=false
            B:overloaded=false
            B:packmode=false
            B:personalcars=false
            B:pressure=false
            B:psi=false
            B:quantumstorage=false
            B:quark=false
            B:quickleafdecay=false
            B:rainboaks=false
            B:rangedpumps=false
            B:reauth=false
            B:reborncore=false
            B:redstonearsenal=false
            B:redstoneflux=false
            B:refinedstorage=false
            B:refinedstorageaddons=false
            B:resourceloader=false
            B:rftools=false
            B:rftoolscontrol=false
            B:rftoolsdim=false
            B:roots=false
            B:rustic=false
            B:shadowmc=false
            B:shetiphiancore=false
            B:simplesponge=false
            B:simplytea=false
            B:skyblocks=false
            B:soulshardstow=false
            B:spiceoflife=false
            B:stevescarts=false
            B:storagedrawers=false
            B:storagedrawersextra=false
            B:tconstruct=false
            B:techreborn=false
            B:terraqueous=false
            B:teslacorelib=false
            B:teslacorelib_registries=false
            B:theoneprobe=false
            B:thermalcultivation=false
            B:thermaldynamics=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:tinkertoolleveling=false
            B:toastcontrol=false
            B:topaddons=false
            B:traverse=false
            B:unidict=false
            B:usefulnullifiers=false
            B:valkyrielib=false
            B:wanionlib=false
            B:waterstrainer=false
            B:waystones=false
            B:woodenshears=false
            B:worldstripper=false
            B:wrapup=false
            B:xnet=false
            B:xtones=false
            B:zerocore=false
        }

    }

}


