# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
        tconstruct
        intangible
     >
    S:"Mod Aliases" <
        ae2stuff=appliedenergistics2
        animus=bloodmagic
        botanicaladdons=botania
        deepresonance=rftools
        integrateddynamics=integratedtunnels
        mekanismgenerators=mekanism
        mekanismtools=mekanism
        redstonearsenal=redstonearsenal
        redstonearsenal=thermalcultivation
        redstonearsenal=thermaldynamics
        redstonearsenal=thermalexpansion
        redstonearsenal=thermalfoundation
        rftoolscontrol=rftools
        rftoolsdim=rftools
        thermalcultivation=redstonearsenal
        thermalcultivation=thermalcultivation
        thermalcultivation=thermaldynamics
        thermalcultivation=thermalexpansion
        thermalcultivation=thermalfoundation
        thermaldynamics=redstonearsenal
        thermaldynamics=thermalcultivation
        thermaldynamics=thermaldynamics
        thermaldynamics=thermalexpansion
        thermaldynamics=thermalfoundation
        thermalexpansion=redstonearsenal
        thermalexpansion=thermalcultivation
        thermalexpansion=thermaldynamics
        thermalexpansion=thermalexpansion
        thermalexpansion=thermalfoundation
        thermalfoundation=redstonearsenal
        thermalfoundation=thermalcultivation
        thermalfoundation=thermaldynamics
        thermalfoundation=thermalexpansion
        thermalfoundation=thermalfoundation
        xnet=rftools
     >
    B:"Morph in the offhand instead of mainhand"=false
    S:"Whitelisted Items" <
        botania:twigWand
        appliedenergistics2:ToolNetworkTool
        mekanism:Configurator
        pressure:Configurator
        immersiveengineerg:tool
        environmentaltech:tool_multiblock_assembler
        railcraft:tool_crowbar_steel
        bloodmagic:ItemRitualReader
        draconicevolution:crystal_binder
        crossroads:omnimeter
     >
    S:"Whitelisted Names" <
        wrench
        screwdriver
        hammer
        rotator
        configurator
     >
}


