# Configuration file

general {
    # Minimum distance between Barrow structures. Set to -1 to disable.
    # Min: 0
    # Max: 2147483647
    I:BarrowDistance=400

    # Mininmum distance between Hut structures. Set to -1 to disable.
    # Min: 0
    # Max: 2147483647
    I:HutDistance=400

    # Inject some items from Mystical World into dungeon & other loot chests
    B:InjectLoot=true

    # Maximum nubmer of pulls for injected loot
    I:InjectMaximum=1

    # Minimum number of pulls for injected loot
    I:InjectMinimum=1

    ##########################################################################################################
    # modules
    #--------------------------------------------------------------------------------------------------------#
    # Mystical world content modules. These modules are applied before any other config options.
    ##########################################################################################################

    modules {
        # Enable Embers Content
        B:embersModuleEnabled=true

        # Enable Mystical World Content
        B:mysticalWorldModuleEnabled=true

        # Enable Roots Content
        B:rootsModuleEnabled=true

        # Enable Solar Content
        B:solarModuleEnabled=true
    }

    ##########################################################################################################
    # mobs
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawning of mobs in Mystical World and dependent mods.
    ##########################################################################################################

    mobs {
        # Enable the spawning of Beetle.
        B:spawnBeetle=true

        # Enable the spawning of Deer.
        B:spawnDeer=true

        # Enable the spawning of Fox.
        B:spawnFox=true

        # Enable the spawning of Frog.
        B:spawnFrog=true

        # Enable the spawning of Sprouts
        B:spawnSprout=true
    }

    ##########################################################################################################
    # deer
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawn settings of Deer
    ##########################################################################################################

    deer {
        # Biomes to spawn in. List consisting of elements from: |SAVANNA, CONIFEROUS, JUNGLE, SPOOKY, DEAD, LUSH, NETHER, END, MUSHROOM, MAGICAL, RARE, OCEAN, RIVER, WATER, MESA, FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, SANDY, SNOWY, WASTELAND, BEACH, VOID|
        S:biomes <
            FOREST
            COLD
            CONIFEROUS
            PLAINS
         >

        # Maximum number of deer to spawn in a group
        I:max=4

        # Min number of deer to spawn in a group
        I:min=2

        # Spawn rate of deer
        I:rate=6
    }

    ##########################################################################################################
    # fox
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawn settings of Foxes
    ##########################################################################################################

    fox {
        # Biomes to spawn in. List consisting of elements from: |SAVANNA, CONIFEROUS, JUNGLE, SPOOKY, DEAD, LUSH, NETHER, END, MUSHROOM, MAGICAL, RARE, OCEAN, RIVER, WATER, MESA, FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, SANDY, SNOWY, WASTELAND, BEACH, VOID|
        S:biomes <
            FOREST
            COLD
            CONIFEROUS
         >

        # Maximum number of fox to spawn in a group
        I:max=3

        # Min number of fox to spawn in a group
        I:min=1

        # Spawn rate of fox
        I:rate=4
    }

    ##########################################################################################################
    # beetle
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawn settings of Beetle
    ##########################################################################################################

    beetle {
        # Biome types to spawn in. List consisting of elements from: |SAVANNA, CONIFEROUS, JUNGLE, SPOOKY, DEAD, LUSH, NETHER, END, MUSHROOM, MAGICAL, RARE, OCEAN, RIVER, WATER, MESA, FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, SANDY, SNOWY, WASTELAND, BEACH, VOID|
        S:biomes <
            SWAMP
            JUNGLE
            FOREST
            PLAINS
         >

        # Maximum number of beetles to spawn in a group
        I:max=4

        # Min number of beetles to spawn in a group
        I:min=2

        # Spawn rate of beetle
        I:rate=5
    }

    ##########################################################################################################
    # frog
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawn settings of Frog
    ##########################################################################################################

    frog {
        # Biomes to spawn in. List consisting of elements from: |SAVANNA, CONIFEROUS, JUNGLE, SPOOKY, DEAD, LUSH, NETHER, END, MUSHROOM, MAGICAL, RARE, OCEAN, RIVER, WATER, MESA, FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, SANDY, SNOWY, WASTELAND, BEACH, VOID|
        S:biomes <
            SWAMP
            JUNGLE
            BEACH
            RIVER
         >

        # Maximum number of frogs to spawn in a group
        I:max=4

        # Min number of frogs to spawn in a group
        I:min=2

        # Spawn rate of frog
        I:rate=6
    }

    ##########################################################################################################
    # sprout
    #--------------------------------------------------------------------------------------------------------#
    # Controls the spawn settings of Sprout
    ##########################################################################################################

    sprout {
        # Biomes to spawn in. List consisting of elements from: |SAVANNA, CONIFEROUS, JUNGLE, SPOOKY, DEAD, LUSH, NETHER, END, MUSHROOM, MAGICAL, RARE, OCEAN, RIVER, WATER, MESA, FOREST, PLAINS, MOUNTAIN, HILLS, SWAMP, SANDY, SNOWY, WASTELAND, BEACH, VOID|
        S:biomes <
            JUNGLE
            LUSH
            MAGICAL
            RIVER
            FOREST
            BEACH
         >

        # Maximum number of sprouts to spawn in a group
        I:max=4

        # Min number of sprouts to spawn in a group
        I:min=2

        # Spawn rate of sprouts
        I:rate=2
    }

    ##########################################################################################################
    # gems
    #--------------------------------------------------------------------------------------------------------#
    # Mystical world gems and their components
    ##########################################################################################################

    gems {
        # Enabled Amethyst
        B:enableAmethyst=true

        # Enable blocks
        B:enableBlocks=true

        # Enable gems
        B:enableGems=true

        # Enable ore
        B:enableOres=true
    }

    ##########################################################################################################
    # metals
    #--------------------------------------------------------------------------------------------------------#
    # Mystical world metals and their components.
    ##########################################################################################################

    metals {
        # Enable Blocks for Metals
        B:enableBlocks=true

        # Enable Copper
        B:enableCopper=true

        # Enable Dusts for Metals
        B:enableDusts=true

        # Enable Ingots for Metals
        B:enableIngots=true

        # Enable Nuggets for Metals
        B:enableNuggets=true

        # Enable Ores for Metals
        B:enableOres=true

        # Enable Silver
        B:enableSilver=true

        # Enable Tiny Dusts for Metals
        B:enableTinyDusts=true
    }

    ##########################################################################################################
    # oredebugging
    #--------------------------------------------------------------------------------------------------------#
    # Ore Debugging Options
    ##########################################################################################################

    oredebugging {
        # Enable the debugging of Amethyst Ore
        B:"Debug Amethyst Ore"=false

        # Enable the debugging of Copper Ore
        B:"Debug Copper Ore"=false

        # Enable the debugging of Silver Ore
        B:"Debug Silver Ore"=false

        # Enable debugging at all. Specific ores will need to be enabled individually before any messages will be printed.
        B:"Enable Debugging"=false

        # Enable debugging to the standard log file. Useful if you do not generate or have access to debug.log. WARNING: WILL OVERLY INFLATE YOUR STANDARD LOG FILE. ONLY ENABLE IF NEEDED.
        B:"Enable Info Debugging (ONLY IF NEEDED)"=false
    }

    ##########################################################################################################
    # oregen
    #--------------------------------------------------------------------------------------------------------#
    # Controls ore generation for Mystical World Ores.
    ##########################################################################################################

    oregen {
        # The highest an amethyst ore vein can generate
        # Min: 0
        # Max: 255
        I:amethystMaxY=32

        # The lowest an amethsyt ore vein can generate
        # Min: 0
        # Max: 255
        I:amethystMinY=5

        # The amount of amethyst veins to generate per chunk. Set to 0 to disable.
        I:amethystPerChunk=2

        # The maximum size of an amethyst ore vein.
        I:amethystVeinSize=5

        # The highest a copper ore vein can generate.
        # Min: 0
        # Max: 255
        I:copperMaxY=64

        # The lowest a copper of vein can generate.
        # Min: 0
        # Max: 255
        I:copperMinY=0

        # The amount of copper veins to generate per chunk. Set to 0 to disable.
        I:copperPerChunk=6

        # The maximum size of a copper ore vein.
        I:copperVeinSize=12

        # The highest a silver ore vein can generate.
        # Min: 0
        # Max: 255
        I:silverMaxY=28

        # The lowest a silver of vein can generate.
        # Min: 0
        # Max: 255
        I:silverMinY=0

        # The amount of silver veins to generate per chunk. Set to 0 to disable.
        I:silverPerChunk=4

        # The maximum size of a silver ore vein.
        I:silverVeinSize=8
    }

}


