# Configuration file

general {
    # Fuel consumption rate of Fuel Input Machine. (Type : Natural number)
    S:fuelConsumedSpeedFIM=200

    # The burn time of Solid Fuel. (Type : Natural number)
    S:solidFuelBurnTime=40000
}


