# Configuration file

general {
    B:"Enable Energy Nullifier (recipe)"=true
    B:"Enable Fluid Nullifier (recipe)"=true
    B:"Enable Item Nullifier (recipe)"=true
    B:"Enable Portable Fluid Nullifier (recipe)"=true
    B:"Enable Portable Item Nullifier (recipe)"=true
    B:"Enable Portable Overflow Nullifier (recipe)"=true

    # Add the recipe for the AION
    B:enableAION=true

    # Add the recipe for the Energy Nullifier
    B:enableEnergyVoid=true

    # Add the recipe for the Fluid Nullifier
    B:enableFluidVoid=true

    # Add the recipe for the Portable Overflow Nullifier
    B:enableOverflow=true

    # Add the recipe for the Portable AION
    B:enablePortAION=true

    # Add the recipe for the Portable Fluid Nullifier
    B:enablePortFluidVoid=true

    # Add the recipe for the Portable Item Nullifier
    B:enablePortVoid=true

    # Add the recipe for the Item Nullifier
    B:enableVoid=true
}


