# Configuration file

##########################################################################################################
# blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist options for various features
##########################################################################################################

blacklist {
    # Stops listed blocks and entities from being teleposed.
    # Use the registry name of the block or entity. Vanilla objects do not require the modid.
    # If a block is specified, you can list the variants to only blacklist a given state.
    S:teleposer <
        appliedenergistics2:cable_bus
        appliedenergistics2:cell_workbench
        appliedenergistics2:charged_quartz_ore
        appliedenergistics2:charged_staff
        appliedenergistics2:charger
        appliedenergistics2:chest
        appliedenergistics2:chiseled_quartz_slab
        appliedenergistics2:chiseled_quartz_stairs
        appliedenergistics2:color_applicator
        appliedenergistics2:condenser
        appliedenergistics2:controller
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_monitor
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_unit
        appliedenergistics2:crank
        appliedenergistics2:creative_energy_cell
        appliedenergistics2:creative_storage_cell
        appliedenergistics2:crystal_seed
        appliedenergistics2:dense_energy_cell
        appliedenergistics2:drive
        appliedenergistics2:encoded_pattern
        appliedenergistics2:energy_acceptor
        appliedenergistics2:energy_cell
        appliedenergistics2:entropy_manipulator
        appliedenergistics2:fluix_block
        appliedenergistics2:fluix_slab
        appliedenergistics2:fluix_stairs
        appliedenergistics2:grindstone
        appliedenergistics2:inscriber
        appliedenergistics2:interface
        appliedenergistics2:io_port
        appliedenergistics2:light_detector
        appliedenergistics2:material
        appliedenergistics2:matrix_frame
        appliedenergistics2:paint
        appliedenergistics2:paint_ball
        appliedenergistics2:part
        appliedenergistics2:portable_cell
        appliedenergistics2:quantum_link
        appliedenergistics2:quantum_ring
        appliedenergistics2:quartz_block
        appliedenergistics2:quartz_fixture
        appliedenergistics2:quartz_glass
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:quartz_ore
        appliedenergistics2:quartz_pillar
        appliedenergistics2:quartz_slab
        appliedenergistics2:quartz_stairs
        appliedenergistics2:quartz_vibrant_glass
        appliedenergistics2:security_station
        appliedenergistics2:sky_stone_brick_slab
        appliedenergistics2:sky_stone_brick_stairs
        appliedenergistics2:sky_stone_chest
        appliedenergistics2:sky_stone_slab
        appliedenergistics2:sky_stone_small_brick_slab
        appliedenergistics2:sky_stone_small_brick_stairs
        appliedenergistics2:sky_stone_stairs
        appliedenergistics2:smooth_sky_stone_chest
        appliedenergistics2:smooth_sky_stone_slab
        appliedenergistics2:smooth_sky_stone_stairs
        appliedenergistics2:spatial_io_port
        appliedenergistics2:spatial_pylon
        appliedenergistics2:spatial_storage_cell_128_cubed
        appliedenergistics2:spatial_storage_cell_16_cubed
        appliedenergistics2:spatial_storage_cell_2_cubed
        appliedenergistics2:storage_cell_16k
        appliedenergistics2:storage_cell_1k
        appliedenergistics2:storage_cell_4k
        appliedenergistics2:storage_cell_64k
        appliedenergistics2:tiny_tnt
        appliedenergistics2:vibration_chamber
        appliedenergistics2:view_cell
        appliedenergistics2:wireless_access_point
        appliedenergistics2:wireless_terminal
        colossalchests:chest_wall
        colossalchests:colossal_chest
        colossalchests:interface
        extracells:ecbaseblock
        extracells:fluidcrafter
        extracells:fluidfiller
        immersiveengineering:metal_device1
        immersiveengineering:metal_multiblock
        immersiveengineering:stone_decoration
        immersiveengineering:stone_device
        minecraft:bedrock
        minecraft:end_portal
        minecraft:mob_spawner
        minecraft:portal
        refinedstorage:cable
        refinedstorage:constructor
        refinedstorage:controller
        refinedstorage:core
        refinedstorage:crafter
        refinedstorage:crafting_monitor
        refinedstorage:destructor
        refinedstorage:detector
        refinedstorage:disk_drive
        refinedstorage:disk_manipulator
        refinedstorage:exporter
        refinedstorage:external_storage
        refinedstorage:filter
        refinedstorage:fluid_interface
        refinedstorage:fluid_storage
        refinedstorage:fluid_storage_disk
        refinedstorage:fluid_storage_part
        refinedstorage:grid
        refinedstorage:importer
        refinedstorage:interface
        refinedstorage:machine_casing
        refinedstorage:network_card
        refinedstorage:network_receiver
        refinedstorage:network_transmitter
        refinedstorage:pattern
        refinedstorage:portable_grid
        refinedstorage:processor
        refinedstorage:reader
        refinedstorage:relay
        refinedstorage:security_card
        refinedstorage:security_manager
        refinedstorage:silicon
        refinedstorage:solderer
        refinedstorage:storage
        refinedstorage:storage_disk
        refinedstorage:storage_monitor
        refinedstorage:storage_part
        refinedstorage:upgrade
        refinedstorage:wireless_crafting_monitor
        refinedstorage:wireless_fluid_grid
        refinedstorage:wireless_grid
        refinedstorage:wireless_transmitter
        refinedstorage:wrench
        refinedstorage:writer
        refinedstorageaddons:wireless_crafting_grid
        rftools:invisible_shield_block
        rftools:notick_invisible_shield_block
        rftools:notick_shield_block
        rftools:shield_block
        rftools:shield_block1
        rftools:shield_block2
        rftools:shield_block3
        rftools:shield_block4
        embers:block_furnace
        embers:stamper
        embers:stamper_base
        embers:ember_bore
        embers:ember_activator
        embers:stone_edge
        embers:mixer
        embers:heat_coil
        embers:large_tank
        embers:crystal_cell
        embers:cinder_plinth
        embers:alchemy_pedestal
        embers:auto_hammer
        embers:ember_injector
        embers:boiler
        embers:reactor
        embers:combustor
        embers:catalyzer
        embers:field_chart
        embers:ember_pulser
        embers:inferno_forge
        embers:mechanical_pump
        embers:inferno_forge_edge
        embers:mech_edge
        embers:advanced_edge
     >

    # Stops listed blocks from being transposed.
    # Use the registry name of the block. Vanilla blocks do not require the modid.
    S:transposer <
        appliedenergistics2:cable_bus
        appliedenergistics2:cell_workbench
        appliedenergistics2:charged_quartz_ore
        appliedenergistics2:charged_staff
        appliedenergistics2:charger
        appliedenergistics2:chest
        appliedenergistics2:chiseled_quartz_slab
        appliedenergistics2:chiseled_quartz_stairs
        appliedenergistics2:color_applicator
        appliedenergistics2:condenser
        appliedenergistics2:controller
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_monitor
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_unit
        appliedenergistics2:crank
        appliedenergistics2:creative_energy_cell
        appliedenergistics2:creative_storage_cell
        appliedenergistics2:crystal_seed
        appliedenergistics2:dense_energy_cell
        appliedenergistics2:drive
        appliedenergistics2:encoded_pattern
        appliedenergistics2:energy_acceptor
        appliedenergistics2:energy_cell
        appliedenergistics2:entropy_manipulator
        appliedenergistics2:fluix_block
        appliedenergistics2:fluix_slab
        appliedenergistics2:fluix_stairs
        appliedenergistics2:grindstone
        appliedenergistics2:inscriber
        appliedenergistics2:interface
        appliedenergistics2:io_port
        appliedenergistics2:light_detector
        appliedenergistics2:material
        appliedenergistics2:matrix_frame
        appliedenergistics2:paint
        appliedenergistics2:paint_ball
        appliedenergistics2:part
        appliedenergistics2:portable_cell
        appliedenergistics2:quantum_link
        appliedenergistics2:quantum_ring
        appliedenergistics2:quartz_block
        appliedenergistics2:quartz_fixture
        appliedenergistics2:quartz_glass
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:quartz_ore
        appliedenergistics2:quartz_pillar
        appliedenergistics2:quartz_slab
        appliedenergistics2:quartz_stairs
        appliedenergistics2:quartz_vibrant_glass
        appliedenergistics2:security_station
        appliedenergistics2:sky_stone_brick_slab
        appliedenergistics2:sky_stone_brick_stairs
        appliedenergistics2:sky_stone_chest
        appliedenergistics2:sky_stone_slab
        appliedenergistics2:sky_stone_small_brick_slab
        appliedenergistics2:sky_stone_small_brick_stairs
        appliedenergistics2:sky_stone_stairs
        appliedenergistics2:smooth_sky_stone_chest
        appliedenergistics2:smooth_sky_stone_slab
        appliedenergistics2:smooth_sky_stone_stairs
        appliedenergistics2:spatial_io_port
        appliedenergistics2:spatial_pylon
        appliedenergistics2:spatial_storage_cell_128_cubed
        appliedenergistics2:spatial_storage_cell_16_cubed
        appliedenergistics2:spatial_storage_cell_2_cubed
        appliedenergistics2:storage_cell_16k
        appliedenergistics2:storage_cell_1k
        appliedenergistics2:storage_cell_4k
        appliedenergistics2:storage_cell_64k
        appliedenergistics2:tiny_tnt
        appliedenergistics2:vibration_chamber
        appliedenergistics2:view_cell
        appliedenergistics2:wireless_access_point
        appliedenergistics2:wireless_terminal
        colossalchests:chest_wall
        colossalchests:colossal_chest
        colossalchests:interface
        extracells:ecbaseblock
        extracells:fluidcrafter
        extracells:fluidfiller
        immersiveengineering:metal_device1
        immersiveengineering:metal_multiblock
        immersiveengineering:stone_decoration
        immersiveengineering:stone_device
        minecraft:bedrock
        minecraft:end_portal
        minecraft:mob_spawner
        minecraft:portal
        refinedstorage:cable
        refinedstorage:constructor
        refinedstorage:controller
        refinedstorage:core
        refinedstorage:crafter
        refinedstorage:crafting_monitor
        refinedstorage:destructor
        refinedstorage:detector
        refinedstorage:disk_drive
        refinedstorage:disk_manipulator
        refinedstorage:exporter
        refinedstorage:external_storage
        refinedstorage:filter
        refinedstorage:fluid_interface
        refinedstorage:fluid_storage
        refinedstorage:fluid_storage_disk
        refinedstorage:fluid_storage_part
        refinedstorage:grid
        refinedstorage:importer
        refinedstorage:interface
        refinedstorage:machine_casing
        refinedstorage:network_card
        refinedstorage:network_receiver
        refinedstorage:network_transmitter
        refinedstorage:pattern
        refinedstorage:portable_grid
        refinedstorage:processor
        refinedstorage:reader
        refinedstorage:relay
        refinedstorage:security_card
        refinedstorage:security_manager
        refinedstorage:silicon
        refinedstorage:solderer
        refinedstorage:storage
        refinedstorage:storage_disk
        refinedstorage:storage_monitor
        refinedstorage:storage_part
        refinedstorage:upgrade
        refinedstorage:wireless_crafting_monitor
        refinedstorage:wireless_fluid_grid
        refinedstorage:wireless_grid
        refinedstorage:wireless_transmitter
        refinedstorage:wrench
        refinedstorage:writer
        refinedstorageaddons:wireless_crafting_grid
        rftools:invisible_shield_block
        rftools:notick_invisible_shield_block
        rftools:notick_shield_block
        rftools:shield_block
        rftools:shield_block1
        rftools:shield_block2
        rftools:shield_block3
        rftools:shield_block4
        embers:block_furnace
        embers:stamper
        embers:stamper_base
        embers:ember_bore
        embers:ember_activator
        embers:stone_edge
        embers:mixer
        embers:heat_coil
        embers:large_tank
        embers:crystal_cell
        embers:cinder_plinth
        embers:alchemy_pedestal
        embers:auto_hammer
        embers:ember_injector
        embers:boiler
        embers:reactor
        embers:combustor
        embers:catalyzer
        embers:field_chart
        embers:ember_pulser
        embers:inferno_forge
        embers:mechanical_pump
        embers:inferno_forge_edge
        embers:mech_edge
     >

    # Stops the listed entities from being used in the Well of Suffering.
    # Use the registry name of the entity. Vanilla entities do not require the modid.
    S:wellOfSuffering <
     >
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that only pertain to the client
##########################################################################################################

client {
    # Always render the beams between routing nodes.
    # If disabled, the beams will only render while the Node Router is held.
    B:alwaysRenderRoutingLines=false

    # Completely hide spectral blocks from view.
    # If disabled, a transparent block will be displayed.
    B:invisibleSpectralBlocks=true

    # When cycling through slots, the Sigil of Holding will skip over empty slots and move to the next occupied one.
    # If disabled, it will behave identically to the default hotbar.
    B:sigilHoldingSkipsEmptySlots=false
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Compatibility settings
##########################################################################################################

compat {
    # The display mode to use when looking at a Blood Altar.
    # ALWAYS - Always display information.
    # SIGIL_HELD - Only display information when a Divination or Seers sigil is held in either hand.
    # SIGIL_CONTAINED - Only display information when a Divination or Seers sigil is somewhere in the inventory.
    # Valid values:
    # ALWAYS
    # SIGIL_HELD
    # SIGIL_CONTAINED
    S:wailaAltarDisplayMode=SIGIL_HELD
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Enables extra information to be printed to the log.
    B:enableAPILogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableDebugLogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableVerboseAPILogging=false
}


##########################################################################################################
# values
#--------------------------------------------------------------------------------------------------------#
# Value modifiers for various features
##########################################################################################################

values {
    # Amount of LP the Coat of Arms should provide for each damage dealt.
    # Min: 0
    # Max: 100
    I:coatOfArmsConversion=20

    # Amount of LP the Sacrificial Dagger should provide for each damage dealt.
    # Min: 0
    # Max: 10000
    I:sacrificialDaggerConversion=100

    # Declares the amount of LP gained per HP sacrificed for the given entity.
    # Setting the value to 0 will blacklist it.
    # Use the registry name of the entity followed by a ';' and then the value you want.
    # Vanilla entities do not require the modid.
    S:sacrificialValues <
        villager;100
        slime;15
        enderman;10
        cow;100
        chicken;100
        horse;100
        sheep;100
        wolf;100
        ocelot;100
        pig;100
        rabbit;100
     >

    # Will rewrite any default meteor types with new versions.
    # Disable this if you want any of your changes to stay, or do not want default meteor types regenerated.
    B:shouldResyncMeteors=true

    # Should mobs that die through the Well of Suffering Ritual drop items?
    B:wellOfSufferingDrops=true
}


