# Configuration file

Device {

    Diffuser {
        B:EnableParticles=true
    }

}


Interface {
    # If TRUE, Thermal Expansion Florbs appear under the general "Thermal Expansion" Creative Tab. Not really recommended. [default: false]
    B:FlorbsInCommonTab=false

    # If TRUE, Thermal Expansion Items and Tools appear under the general "Thermal Expansion" Creative Tab. [default: false]
    B:ItemsInCommonTab=false

    CreativeTabs {
        # Set the default level for the Blocks shown in the Creative Tab, if all levels are not shown. [range: 0 ~ 4, default: 0]
        I:DefaultLevel=0

        # If TRUE, all regular levels for a given Block will show in the Creative Tab. [default: false]
        B:ShowAllBlockLevels=false

        # If TRUE, Creative version of Blocks will show in the Creative Tab. [default: false]
        B:ShowCreativeBlocks=false
    }

}


Sounds {
    # If TRUE, various Thermal Expansion Blocks will play ambient sounds when active. [default: true]
    B:EnableSounds=true
}


Version {
    S:Identifier=5.3.7
}


