# Configuration file

balancing {
    # Allows shards with the same entity type to be combined in an anvil. It is a direct addition and mainly intended for co-op play. [default: true]
    B:allowShardCombination=true

    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:"abyssalcraft:abygolem"=true
    B:"abyssalcraft:abyssalzombie"=true
    B:"abyssalcraft:antiabyssalzombie"=true
    B:"abyssalcraft:antibat"=true
    B:"abyssalcraft:antichicken"=true
    B:"abyssalcraft:anticow"=true
    B:"abyssalcraft:anticreeper"=true
    B:"abyssalcraft:antighoul"=true
    B:"abyssalcraft:antipig"=true
    B:"abyssalcraft:antiplayer"=true
    B:"abyssalcraft:antiskeleton"=true
    B:"abyssalcraft:antispider"=true
    B:"abyssalcraft:antizombie"=true
    B:"abyssalcraft:chagaroth"=true
    B:"abyssalcraft:chagarothfist"=true
    B:"abyssalcraft:chagarothspawn"=true
    B:"abyssalcraft:coraliumsquid"=true
    B:"abyssalcraft:demonchicken"=true
    B:"abyssalcraft:demoncow"=true
    B:"abyssalcraft:demonpig"=true
    B:"abyssalcraft:demonsheep"=true
    B:"abyssalcraft:depthsghoul"=true
    B:"abyssalcraft:dragonboss"=true
    B:"abyssalcraft:dragonminion"=true
    B:"abyssalcraft:dreadgolem"=true
    B:"abyssalcraft:dreadguard"=true
    B:"abyssalcraft:dreadling"=true
    B:"abyssalcraft:dreadspawn"=true
    B:"abyssalcraft:evilchicken"=true
    B:"abyssalcraft:evilcow"=true
    B:"abyssalcraft:evilpig"=true
    B:"abyssalcraft:evilsheep"=true
    B:"abyssalcraft:greaterdreadspawn"=true
    B:"abyssalcraft:gskeleton"=true
    B:"abyssalcraft:jzahar"=true
    B:"abyssalcraft:jzaharminion"=true
    B:"abyssalcraft:lesserdreadbeast"=true
    B:"abyssalcraft:lessershoggoth"=true
    B:"abyssalcraft:omotholghoul"=true
    B:"abyssalcraft:remnant"=true
    B:"abyssalcraft:shadowbeast"=true
    B:"abyssalcraft:shadowboss"=true
    B:"abyssalcraft:shadowcreature"=true
    B:"abyssalcraft:shadowmonster"=true
    B:"abyssalcraft:shuboffspring"=true
    B:"astralsorcery:entityflare"=true
    B:"astralsorcery:entityliquidspark"=true
    B:"astralsorcery:entityspectraltool"=true
    B:"biomesoplenty:wasp"=true
    B:"bloodmagic:corrupted_chicken"=true
    B:"bloodmagic:corrupted_sheep"=true
    B:"bloodmagic:corrupted_spider"=true
    B:"bloodmagic:corrupted_zombie"=true
    B:"bloodmagic:mimic"=true
    B:"bloodmagic:sentient_specter"=true
    B:"botania:doppleganger"=true
    B:"botania:pink_wither"=true
    B:"botania:pixie"=true
    B:"computronics:swarm"=true
    B:"cyclicmagic:robot"=true
    B:"draconicevolution:chaosguardian"=true
    B:"embers:ancient_golem"=true
    B:"forestry:butterflyge"=true
    B:"industrialforegoing:pink_slime"=true
    B:"mekanism:babyskeleton"=true
    B:"mekanism:robit"=true
    B:"minecolonies:archerbarbarian"=true
    B:"minecolonies:archerpirate"=true
    B:"minecolonies:barbarian"=true
    B:"minecolonies:chiefbarbarian"=true
    B:"minecolonies:chiefpirate"=true
    B:"minecolonies:citizen"=true
    B:"minecolonies:mercenary"=true
    B:"minecolonies:pirate"=true
    B:"minecraft:bat"=true
    B:"minecraft:blaze"=true
    B:"minecraft:cave_spider"=true
    B:"minecraft:chicken"=true
    B:"minecraft:cow"=true
    B:"minecraft:creeper"=true
    B:"minecraft:donkey"=true
    B:"minecraft:elder_guardian"=true
    B:"minecraft:ender_dragon"=true
    B:"minecraft:enderman"=true
    B:"minecraft:endermite"=true
    B:"minecraft:evocation_illager"=true
    B:"minecraft:ghast"=true
    B:"minecraft:giant"=true
    B:"minecraft:guardian"=true
    B:"minecraft:horse"=true
    B:"minecraft:husk"=true
    B:"minecraft:illusion_illager"=true
    B:"minecraft:llama"=true
    B:"minecraft:magma_cube"=true
    B:"minecraft:mooshroom"=true
    B:"minecraft:mule"=true
    B:"minecraft:ocelot"=true
    B:"minecraft:parrot"=true
    B:"minecraft:pig"=true
    B:"minecraft:polar_bear"=true
    B:"minecraft:rabbit"=true
    B:"minecraft:sheep"=true
    B:"minecraft:shulker"=true
    B:"minecraft:silverfish"=true
    B:"minecraft:skeleton"=true
    B:"minecraft:skeleton_horse"=true
    B:"minecraft:slime"=true
    B:"minecraft:snowman"=true
    B:"minecraft:spider"=true
    B:"minecraft:squid"=true
    B:"minecraft:stray"=true
    B:"minecraft:vex"=true
    B:"minecraft:villager"=true
    B:"minecraft:villager_golem"=true
    B:"minecraft:vindication_illager"=true
    B:"minecraft:witch"=true
    B:"minecraft:wither"=true
    B:"minecraft:wither_skeleton"=true
    B:"minecraft:wolf"=true
    B:"minecraft:zombie"=true
    B:"minecraft:zombie_horse"=true
    B:"minecraft:zombie_pigman"=true
    B:"minecraft:zombie_villager"=true
    B:"mobtotems:spirit_wolf"=true
    B:"mysticalworld:entity_beetle"=true
    B:"mysticalworld:entity_deer"=true
    B:"mysticalworld:entity_fox"=true
    B:"mysticalworld:entity_frog"=true
    B:"mysticalworld:entity_sprout"=true
    B:"natura:imp"=true
    B:"natura:nitrocreeper"=true
    B:"openblocks:luggage"=true
    B:"openblocks:mini_me"=true
    B:"plustic:blindbandit"=true
    B:"plustic:supremeleader"=true
    B:"pneumaticcraft:drone"=true
    B:"pneumaticcraft:harvesting_drone"=true
    B:"pneumaticcraft:logistic_drone"=true
    B:"quark:archaeologist"=true
    B:"quark:ashen"=true
    B:"quark:dweller"=true
    B:"quark:frog"=true
    B:"quark:leash_knot"=true
    B:"quark:pirate"=true
    B:"quark:stoneling"=true
    B:"quark:wraith"=true
    B:"realfilingcabinet:entitycabinet"=true
    B:"tconstruct:blueslime"=true
    B:"thaumcraft:arcanebore"=true
    B:"thaumcraft:brainyzombie"=true
    B:"thaumcraft:cultistcleric"=true
    B:"thaumcraft:cultistknight"=true
    B:"thaumcraft:cultistleader"=true
    B:"thaumcraft:cultistportalgreater"=true
    B:"thaumcraft:cultistportallesser"=true
    B:"thaumcraft:eldritchcrab"=true
    B:"thaumcraft:eldritchgolem"=true
    B:"thaumcraft:eldritchguardian"=true
    B:"thaumcraft:eldritchwarden"=true
    B:"thaumcraft:firebat"=true
    B:"thaumcraft:giantbrainyzombie"=true
    B:"thaumcraft:golem"=true
    B:"thaumcraft:inhabitedzombie"=true
    B:"thaumcraft:mindspider"=true
    B:"thaumcraft:pech"=true
    B:"thaumcraft:spellbat"=true
    B:"thaumcraft:taintacle"=true
    B:"thaumcraft:taintaclegiant"=true
    B:"thaumcraft:taintacletiny"=true
    B:"thaumcraft:taintcrawler"=true
    B:"thaumcraft:taintseed"=true
    B:"thaumcraft:taintseedprime"=true
    B:"thaumcraft:taintswarm"=true
    B:"thaumcraft:thaumslime"=true
    B:"thaumcraft:turretadvanced"=true
    B:"thaumcraft:turretbasic"=true
    B:"thaumcraft:wisp"=true
    B:"thebetweenlands:angler"=true
    B:"thebetweenlands:blind_cave_fish"=true
    B:"thebetweenlands:blood_snail"=true
    B:"thebetweenlands:boulder_sprite"=true
    B:"thebetweenlands:chiromaw"=true
    B:"thebetweenlands:dark_druid"=true
    B:"thebetweenlands:dragonfly"=true
    B:"thebetweenlands:dreadful_mummy"=true
    B:"thebetweenlands:firefly"=true
    B:"thebetweenlands:fortress_boss"=true
    B:"thebetweenlands:fortress_boss_blockade"=true
    B:"thebetweenlands:fortress_boss_spawner"=true
    B:"thebetweenlands:fortress_boss_turret"=true
    B:"thebetweenlands:frog"=true
    B:"thebetweenlands:gas_cloud"=true
    B:"thebetweenlands:gecko"=true
    B:"thebetweenlands:greebling"=true
    B:"thebetweenlands:leech"=true
    B:"thebetweenlands:lurker"=true
    B:"thebetweenlands:mire_snail"=true
    B:"thebetweenlands:mire_snail_egg"=true
    B:"thebetweenlands:mummy_arm"=true
    B:"thebetweenlands:peat_mummy"=true
    B:"thebetweenlands:pyrad"=true
    B:"thebetweenlands:root_sprite"=true
    B:"thebetweenlands:silt_crab"=true
    B:"thebetweenlands:sludge"=true
    B:"thebetweenlands:smoll_sludge"=true
    B:"thebetweenlands:spirit_tree_face_large"=true
    B:"thebetweenlands:spirit_tree_face_small"=true
    B:"thebetweenlands:sporeling"=true
    B:"thebetweenlands:swamp_hag"=true
    B:"thebetweenlands:tamed_spirit_tree_face"=true
    B:"thebetweenlands:tar_beast"=true
    B:"thebetweenlands:tarminion"=true
    B:"thebetweenlands:termite"=true
    B:"thebetweenlands:toad"=true
    B:"thebetweenlands:wight"=true
    B:"thermalfoundation:basalz"=true
    B:"thermalfoundation:blitz"=true
    B:"thermalfoundation:blizz"=true
    B:"twilightforest:adherent"=true
    B:"twilightforest:armored_giant"=true
    B:"twilightforest:bighorn_sheep"=true
    B:"twilightforest:blockchain_goblin"=true
    B:"twilightforest:boggard"=true
    B:"twilightforest:bunny"=true
    B:"twilightforest:castle_guardian"=true
    B:"twilightforest:death_tome"=true
    B:"twilightforest:deer"=true
    B:"twilightforest:fire_beetle"=true
    B:"twilightforest:firefly"=true
    B:"twilightforest:giant_miner"=true
    B:"twilightforest:goblin_knight_lower"=true
    B:"twilightforest:goblin_knight_upper"=true
    B:"twilightforest:harbinger_cube"=true
    B:"twilightforest:hedge_spider"=true
    B:"twilightforest:helmet_crab"=true
    B:"twilightforest:hostile_wolf"=true
    B:"twilightforest:hydra"=true
    B:"twilightforest:hydra_head"=true
    B:"twilightforest:ice_crystal"=true
    B:"twilightforest:king_spider"=true
    B:"twilightforest:knight_phantom"=true
    B:"twilightforest:kobold"=true
    B:"twilightforest:lich"=true
    B:"twilightforest:lich_minion"=true
    B:"twilightforest:loyal_zombie"=true
    B:"twilightforest:maze_slime"=true
    B:"twilightforest:mini_ghast"=true
    B:"twilightforest:minoshroom"=true
    B:"twilightforest:minotaur"=true
    B:"twilightforest:mist_wolf"=true
    B:"twilightforest:mosquito_swarm"=true
    B:"twilightforest:naga"=true
    B:"twilightforest:penguin"=true
    B:"twilightforest:pinch_beetle"=true
    B:"twilightforest:quest_ram"=true
    B:"twilightforest:raven"=true
    B:"twilightforest:redcap"=true
    B:"twilightforest:redcap_sapper"=true
    B:"twilightforest:roving_cube"=true
    B:"twilightforest:skeleton_druid"=true
    B:"twilightforest:slime_beetle"=true
    B:"twilightforest:snow_guardian"=true
    B:"twilightforest:snow_queen"=true
    B:"twilightforest:squirrel"=true
    B:"twilightforest:stable_ice_core"=true
    B:"twilightforest:swarm_spider"=true
    B:"twilightforest:tiny_bird"=true
    B:"twilightforest:tower_broodling"=true
    B:"twilightforest:tower_ghast"=true
    B:"twilightforest:tower_golem"=true
    B:"twilightforest:tower_termite"=true
    B:"twilightforest:troll"=true
    B:"twilightforest:unstable_ice_core"=true
    B:"twilightforest:ur_ghast"=true
    B:"twilightforest:wild_boar"=true
    B:"twilightforest:winter_wolf"=true
    B:"twilightforest:wraith"=true
    B:"twilightforest:yeti"=true
    B:"twilightforest:yeti_alpha"=true
    B:"wizardry:angel_zachriel"=true
    B:"wizardry:fairy"=true
    B:"wizardry:jump_pad"=true
    B:"wizardry:spirit_blight"=true
    B:"wizardry:spirit_wight"=true
    B:"wizardry:summon_zombie"=true
    B:"wizardry:unicorn"=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=12
}


